/* GLOBAL ATTRIBUTES */
body {
    background-color: #2B2B2B;
    margin: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.page {
    max-width: 1280px;
    min-width: 340px;
    margin: 0 auto;
    padding: 0 20px;
}

[class*="__container"] {
    max-width: 1080px;
    margin: 0 auto;
}

/* HEADER */
.Header{
    width: 100%;
    max-width: inherit;
    height: 100px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.header__inner{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
}
.header-inner__links{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}
.signup_header-link{
    margin-right: 30px;
}
.login_header-link{
    padding: 9px 61px;
    color: #333333;
    background-color: #BFAFF2;
    border-radius: 15px;
    transition: 0.15s;
}
.login_header-link:hover {
    background-color: #a08fd7;
    transition: 0.15s;
}

/* MAIN */
main{
    position: relative;
}
main::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.2;
}

/* INTRO */
.main__intro{
    padding-bottom: 40px;
}
.intro__inner{
    display: flex;
    justify-content: space-between;
}
.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 465px;
}
.content-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.5;
    color: #ffffff;
}
.intro-content__subtitle{
    max-width: 461px;
    margin-top: 40px;
}
.content-subtitle{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #ffffff;
    opacity: 0.4;
}
.intro-content__button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    margin-top: auto;
    display: flex;
}
.intro-button{
    padding: 9px 36px;
    background-color: #F8D57E;
    border-radius: 15px;
    color: #333333;
    transition: 0.15s;
}
.intro-button:hover{
    background-color: #ffc124;
    transition: 0.15s;
}
.intro-inner__image img{
    max-width: 500px;
    max-height: 446px;
    background-color: #333333;
    border-radius: 20px;
}

/* SPONSORS */
.main__sponsors{
    padding-top: 40px;
    padding-bottom: 50px;
}
.sponsors__inner{
    position: relative;
}
.sponsors__inner::before, .sponsors__inner::after{
    content: "";
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.2;
}
.sponsors__inner::before{
    top: 0;
}
.sponsors__inner::after{
    bottom: 0;
}
.sponsors-content{
    display: flex;
    justify-content: space-between;
    padding: 80px 75px;
    gap: 30px;
    flex-wrap: wrap;
}
.sponsors-content_logo img {
    height: 35px;
}

/* FEATURES */
.main__features{
    padding: 40px 0;
}
.features-inner__image{
    background-color: #FDF5DF;
    max-height: 500px;
    border-radius: 20px;
}
.features-inner__image img{
    max-height: inherit;
}
.features-inner__content{
    margin-top: 150px;
}
.features-articles{
    display: flex;
    justify-content: space-between;
}
.feature-item{
    max-width: 270px;
    text-align: center;
}
.features-item__icon{
    max-height: 70px;
    margin-bottom: 40px;
}
.features-item__icon img{
    max-height: inherit;
}
.features-item__text{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}
.feature-item__title{
    font-weight: 600;
}
.features-item__subtitle{
    font-weight: 400;
    opacity: 0.4;
}

/* FEEDBAKCS */
.main__feedbacks{
    padding-top: 40px;
    padding-bottom: 65px;
    color: #2B2B2B;
}
.feedbacks-articles{
    background-color: #BFAFF2;
    border-radius: 20px;
}
.feedbacks-articles__item{
    padding: 80px 160px;
}
.feedbacks-text{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 600;
}
.feedbacks-item__user{
    display: flex;
    margin-top: 50px;
}
.feedbacks-user__icon{
    max-height: 80px;
    margin-right: 20px;
    border-radius: 100%;
    border: 1.6px solid rgba(255, 255, 255, 0.4);
}
.feedbacks-user__icon img{
    max-height: inherit;
    border-radius: 100%;
}
.feedbacks-user__info{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.feedbacks-user__name{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
    opacity: 0.4;
    margin-bottom: 5px;
}
.feedbacks-user-rate__icon{
    max-height: 20px;
}

/* CONTACT US  */
.contactUs{
    padding-top: 65px;
    padding-bottom: 100px;
}
.contactUs__inner{
    display: flex;
    justify-content: space-between;
}
.contactUs-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactUs-text{
    font-family: 'Poppins', sans-serif;
}
.contactUs-text__title{
    font-weight: 600;
    font-size: 60px;
    line-height: 1.5;
    padding-bottom: 30px;
}
.contactUs-text__subtitle{
    font-weight: 400;
    opacity: 0.4;
    font-size: 18px;
    line-height: 1.7;
}
.contactUs-button{
    display: flex;
}
.contactUs-button__btn{
    padding: 10px 37px;
    background-color: #F8D57E;
    border-radius: 15px;
    color: #333333;
    transition: 0.15s;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;
}
.contactUs-button__btn:hover{
    background-color: #ffc124;
    transition: 0.15s;
}
.contactUs-image{
    max-height: 400px;
}
.contactUs-image img{
    max-height: inherit;
}

/* FOOTER */
.Footer{
    width: 100%;
    max-width: inherit;
    padding: 50px 0;
    display: flex;
}
.footer__inner{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.footer-content{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
}
.footer-content__title{
    font-size: 24px;
    line-height: 1;
}
.footer-content__links{
    display: flex;
    margin-top: 50px;
}
.footer-links__item:not(:last-child){
    padding-right: 30px;
}
.footer-inner__form{
    align-self: flex-end;
}
.inline-form{
    display: none;
}
.footer-form, .footer-form__button, .footer-form__text-field, .footer-form__title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}
.footer-form label{
    display: flex;
    margin-bottom: 15px;
}
.footer-form__text-field{
    max-width: 300px;
    margin-right: 25px;
    border-radius: 15px;
    border: none;
    padding-left: 30px;
    height: 50px;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.4);
}
.footer-form__text-field:focus-visible{
    border: none;
}
.footer-form__button{
    max-width: 175px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 10px 65px;
    background-color: #BFAFF2;
    transition: 0.15s;
}
.footer-form__button:hover{
    background-color: #a386ff;
    transition: 0.15s;
}

@media (max-width: 1120px){
    .intro__inner{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;
    }
    .intro-content{
        align-items: center;
    }
    .content-subtitle{
        margin-bottom: 70px;
    }
    .features-inner__image{
        display: flex;
    }
    .features-inner__image img{
        width: 100%;
    }
    .footer__inner{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer-inner__form{
        align-self: auto;
    }
}
@media (max-width: 970px){
    .sponsors-content{
        padding: 80px 30px;
    }
}
@media (max-width: 900px){
    .sponsors-content{
        justify-content: center;
    }
    .feedbacks-articles__item{
        padding: 80px 30px;
    }
    .contactUs__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;
    }
    .contactUs-text{
        margin-bottom: 60px;
    }
    .contactUs-button{
        justify-content: center;
    }
}
@media (max-width: 750px){
    .features-articles{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .footer-content{
        width: 100%;
    }
    .footer-inner__form{
        display: none;
    }
    .inline-form{
        display: block;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        gap: 20px;
    }
    .footer-form label{
        margin-bottom: 0;
    }
    .footer-form__text-field{
        max-width: none;
        margin: 0;
    }
    .footer-form__button{
        max-width: none;
    }
    .footer-content__links{
        flex-direction: column-reverse;
        gap: 20px;
    }
}
@media (max-width: 540px){
    .header-inner__links{
        display: none;
    }
    .intro__inner img{
        width: 100%;
    }
    .contactUs-image img{
        width: 100%;
    }
}